<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<div class="container mt-5">

    <div class="jumbotron text-center bg-light p-5 rounded">

        <h1 class="display-4">
            Welcome to this E-commerce Store
        </h1>
        <p class="lead">
            Discover amazing products in our collection
        </p>
        <hr class="my-4">
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-box-open fa-2x mb-3"></i></h5>
                        <h4 class="card-subtitle mb-3">Browse Products</h4>
                        <p class="card-text">Explore our wide range of items</p>
                        <a href="/items" class="btn btn-primary">View All Items</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-tags fa-2x mb-3"></i></h5>
                        <h4 class="card-subtitle mb-3">Shop by Category</h4>
                        <p class="card-text">Find products by category</p>
                        <a href="/categories" class="btn btn-primary">View Categories</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-info-circle fa-2x mb-3"></i></h5>
                        <h4 class="card-subtitle mb-3">About Us</h4>
                        <p class="card-text">Learn more about our store</p>
                        <a href="/about" class="btn btn-primary">About Page</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row mt-5">

        <div class="col-md-12">

            <h2 class="text-center mb-4">
                Featured Items
            </h2>
            
            <div class="row">
                {{#each featuredItems}}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {{#if this.featureImage}}
                        <img src="{{this.featureImage}}" class="card-img-top" alt="{{this.title}}">
                        {{/if}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{truncate this.body 100}}</p>
                            <p class="text-muted">${{this.price}}</p>
                            <a href="/shop/{{this.id}}" class="btn btn-outline-primary">View Details</a>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-12 text-center">
                    <p class="text-muted">No featured items available</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>